<!DOCTYPE html>
<html>
  <head>
    <title>Chatter</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <div class="main">
      <div class="usersList">
        <form id="nicknameForm" class="nicknameForm">
          <input id="nicknameInput" data-testid="nickname-box" autocomplete="off" placeholder="Insira seu nickname"/>
          <button id="nickname-button" data-testid="nickname-button">Save</button>
        </form>
        <h2>Usuários Logados:</h2>
        <ul class="users">
          
        </ul>
      </div>
      <ul id="messages" class="messages">
        <% messages.forEach(({ chatMessage, nickname, timestamp }) => { %>
          <li data-testid="message"><%= `${timestamp} - ${nickname}: ${chatMessage}` %></li>
        <% } ) %>
      </ul>
    </div>
    <form id="messageForm" class="messageForm">
      <input id="messageInput" autocomplete="off" data-testid="message-box"/><button id="send-button" data-testid="send-button">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/script.js'></script>
  </body>
</html>